<section class="runner-info">
  <div class="container">
    <div class="banner-container">
			<h4 class="banner-text text-center">{{ page.event_category  | replace: '-', ' ' |  upcase }}</h4>
		</div>
		
    <div class="runner-content">
			<div class="runner-details row">
				<div class="left-section col-6">
					<div class="content-container">
							<span class="content-title">Name</span>
							<span class="content-value">{{ page.first_name }}  {{ page.last_name }} {{page.name}}</span>
					</div>

					{% if page.team_name != null %}
					<div class="content-container">
							<span class="content-title">Team / Sponsor</span>
							<span class="content-value">{{ page.team_name }}</span>
					</div>
					{% endif %}
					
					<div class="content-container">
							<span class="content-title">Bib #</span>
							<span class="content-value">{{ page.bib }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender / Category</span>
						<span class="content-value">
							{% if page.gender == 'M' %}
							Male
							{% elsif page.gender == 'F' %}
							Female
							{% else %}
							{{ page.gender }}
							{% endif %}
						</span>
						<span class="content-value"> / {{ page.category_km }}/ {{ page.category }}</span>
					</div>

					{% if page.certificate != null %}
					<div class="content-container">
						<a class="btn btn-success" href="{{ page.certificate }}" target="_blank">Certificate</a>
					</div>
					{% endif %}
				</div>

				<div class="right-section col-6 ">
					{% if page.finish_time != null or page.race_time != null %}
					<div class="content-container">
							<i class="material-icons">flag</i>
							<span class="content-title">Finish Time</span>
							<span class="content-value"> {{ page.race_time | replace: '-', ':' }} {{ page.finish_time | replace: '-', ':' }} </span>
					</div>
					{% endif %}

					<div class="content-container">
							<span class="content-title"> Overall Rank</span>
							<span class='content-value'> {{ page.overall_rank }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender Rank</span>
						<span class='content-value'> {{ page.gender_rank }} {{ page.rank }}</span>
					</div>
				</div>
			</div>
		</div>

    <div class="runner-race-content table-responsive">
			<h6 class="banner-text">Race Info</h6>
			<table class="table table-bordered">
				<tbody>
					{% if page.start != null %}
					<tr>
						<th>Start</th>
						<td>{{ page.start | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint2 != null %}
					<tr>
							<th>{{ page.checkpoint-name2 }}</th>
							<td>{{ page.checkpoint2 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint3 != null %}
					<tr>
							<th>{{ page.checkpoint-name3 }}</th>
							<td>{{ page.checkpoint3 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint4 != null %}
					<tr>
						<th>{{ page.checkpoint-name4 }}</th>
						<td>{{ page.checkpoint4 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint5 != null %}
					<tr>
						<th>{{ page.checkpoint-name5 }}</th>
						<td>{{ page.checkpoint5 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint6 != null %}
					<tr>
						<th>{{ page.checkpoint-name6 }}</th>
						<td>{{ page.checkpoint6 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint7 != null %}
					<tr>
							<th>{{ page.checkpoint-name7 }}</th>
							<td>{{ page.checkpoint7 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint8 != null %}
					<tr>
						<th>{{ page.checkpoint-name8 }}</th>
						<td>{{ page.checkpoint8 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.finish != null or page.finish_time != null %}
					<tr>
						<th>Finish</th>
						<td>{{ page.finish | replace: '-', ':'}}{{ page.finish_time | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

				</tbody>
			</table>
    </div>
  </div>
</section>
						
