<section class="runner-info">
  <div class="container">
    <div class="banner-container">
			<div class="d-sm-flex justify-content-center text-center text-sm-left">
				<div class="col-xs-12 {% if page.event-logo == null %} d-none {% endif %}">
						<img class="banner-logo" src="{{ page.event-logo }}"/>
				</div>
				<div class="just-content-start col-xs-12">
					<h4>{{ page.event-title }}</h4>
					<span class="">{{ page.event-location }}, </span>
					<span class="">{{ page.event-date }} </span> 
				</div>
				
			</div>     
		</div>
		
    <div class="runner-content">
			<div class="runner-details row">
				<div class="left-section col-6">
					<div class="content-container">
							<span class="content-title">Name</span>
							<span class="content-value">{{ page.first_name }}  {{ page.last_name }} {{page.name}}</span>
					</div>

					{% if page.team_name != null %}
					<div class="content-container">
							<span class="content-title">Team / Sponsor</span>
							<span class="content-value">{{ page.team_name }}</span>
					</div>
					{% endif %}
					
					<div class="content-container">
							<span class="content-title">Bib #</span>
							<span class="content-value">{{ page.bib }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender / Category</span>
						<span class="content-value">
							{% if page.gender == 'M' %}
							Male
							{% elsif page.gender == 'F' %}
							Female
							{% else %}
							{{ page.gender }}
							{% endif %}
						</span>
						<span class="content-value"> / {{ page.category_km }}/ {{ page.category }}</span>
					</div>

					{% if page.certificate != null %}
					<div class="content-container">
						<a class="btn btn-success" href="{{ page.certificate }}" target="_blank">Certificate</a>
					</div>
					{% endif %}
				</div>

				<div class="right-section col-6 ">
					{% if page.finish_time != null or page.race_time != null or page.finish != null %}
					<div class="content-container">
							<i class="material-icons">flag</i>
							<span class="content-title">Finish Time</span>
							<span class="content-value"> {{ page.race_time | replace: '-', ':' }}{{ page.finish_time | replace: '-', ':' }}{{ page.finish | replace: '-', ':' }}</span>
					</div>
					{% endif %}

					<div class="content-container">
							<span class="content-title"> Overall Rank</span>
							<span class='content-value'> {{ page.overall_rank }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender Rank</span>
						<span class='content-value'> {{ page.gender_rank }} {{ page.rank }}</span>
					</div>
				</div>
			</div>
		</div>

    <div class="runner-race-content table-responsive">
			<h6 class="banner-text">Race Info</h6>
			<table class="table table-bordered">
				<tbody>
					{% if page.start != null %}
					<tr>
						<th>Start</th>
						<td>{{ page.start | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint2 != null %}
					<tr>
							<th>{{ page.checkpoint-name2 }}</th>
							<td>{{ page.checkpoint2 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint3 != null %}
					<tr>
							<th>{{ page.checkpoint-name3 }}</th>
							<td>{{ page.checkpoint3 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint4 != null %}
					<tr>
						<th>{{ page.checkpoint-name4 }}</th>
						<td>{{ page.checkpoint4 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint5 != null %}
					<tr>
						<th>{{ page.checkpoint-name5 }}</th>
						<td>{{ page.checkpoint5 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint6 != null %}
					<tr>
						<th>{{ page.checkpoint-name6 }}</th>
						<td>{{ page.checkpoint6 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint7 != null %}
					<tr>
							<th>{{ page.checkpoint-name7 }}</th>
							<td>{{ page.checkpoint7 | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% if page.checkpoint8 != null %}
					<tr>
						<th>{{ page.checkpoint-name8 }}</th>
						<td>{{ page.checkpoint8 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint9 != null %}
					<tr>
						<th>{{ page.checkpoint-name9 }}</th>
						<td>{{ page.checkpoint9 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint10 != null %}
					<tr>
						<th>{{ page.checkpoint-name10 }}</th>
						<td>{{ page.checkpoint10 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint11 != null %}
					<tr>
						<th>{{ page.checkpoint-name11 }}</th>
						<td>{{ page.checkpoint11 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint12 != null %}
					<tr>
						<th>{{ page.checkpoint-name12 }}</th>
						<td>{{ page.checkpoint12 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint13 != null %}
					<tr>
						<th>{{ page.checkpoint-name13 }}</th>
						<td>{{ page.checkpoint13 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint14 != null %}
					<tr>
						<th>{{ page.checkpoint-name14 }}</th>
						<td>{{ page.checkpoint14 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint15 != null %}
					<tr>
						<th>{{ page.checkpoint-name15 }}</th>
						<td>{{ page.checkpoint15 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint16 != null %}
					<tr>
						<th>{{ page.checkpoint-name16 }}</th>
						<td>{{ page.checkpoint16 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint17 != null %}
					<tr>
						<th>{{ page.checkpoint-name17 }}</th>
						<td>{{ page.checkpoint17 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint18 != null %}
					<tr>
						<th>{{ page.checkpoint-name18 }}</th>
						<td>{{ page.checkpoint18 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint19 != null %}
					<tr>
						<th>{{ page.checkpoint-name19 }}</th>
						<td>{{ page.checkpoint19 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint20 != null %}
					<tr>
						<th>{{ page.checkpoint-name20 }}</th>
						<td>{{ page.checkpoint20 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint21 != null %}
					<tr>
						<th>{{ page.checkpoint-name21 }}</th>
						<td>{{ page.checkpoint21 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint22 != null %}
					<tr>
						<th>{{ page.checkpoint-name22 }}</th>
						<td>{{ page.checkpoint22 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint23 != null %}
					<tr>
						<th>{{ page.checkpoint-name23 }}</th>
						<td>{{ page.checkpoint23 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint24 != null %}
					<tr>
						<th>{{ page.checkpoint-name24 }}</th>
						<td>{{ page.checkpoint24 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint25 != null %}
					<tr>
						<th>{{ page.checkpoint-name25 }}</th>
						<td>{{ page.checkpoint25 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint26 != null %}
					<tr>
						<th>{{ page.checkpoint-name26 }}</th>
						<td>{{ page.checkpoint26 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint27 != null %}
					<tr>
						<th>{{ page.checkpoint-name27 }}</th>
						<td>{{ page.checkpoint27 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint28 != null %}
					<tr>
						<th>{{ page.checkpoint-name28 }}</th>
						<td>{{ page.checkpoint28 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint29 != null %}
					<tr>
						<th>{{ page.checkpoint-name29 }}</th>
						<td>{{ page.checkpoint29 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint30 != null %}
					<tr>
						<th>{{ page.checkpoint-name30 }}</th>
						<td>{{ page.checkpoint30 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.checkpoint31 != null %}
					<tr>
						<th>{{ page.checkpoint-name31 }}</th>
						<td>{{ page.checkpoint31 | replace: '-', ':'}}</td>	
					</tr>
					{% endif %}

					{% if page.finish != null or page.finish_time != null %}
					<tr>
						<th>Finish</th>
						<td>{{ page.finish | replace: '-', ':'}}{{ page.finish_time | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

				</tbody>
			</table>
    </div>
  </div>
</section>
						
