---
permalink: /events/liveevent1/
layout: default
enableCategoryRank: false
enableFinishDistance: true
collectionTag: liveevent1
collectionCategory: liveevent1
css: event-result.css
event-title: YM Challenge
event-location: Manila Philippines
event-date: 2020-06-05
event-logo: https://res.cloudinary.com/raceyaya/image/upload/v1592404609/logo/2020/Screen_Shot_2020-06-17_at_10.29.16_PM_dirx1v.png

javascript: > 
  <script type="text/javascript" src="/js/tablefilter.min.js"></script>
  <script type="text/javascript" src="/js/filtable.min.js"></script>
  <script type="text/javascript" src="/js/event-result.js"></script>
---

<div class="container">
  {% include event-result/table-banner.html %}
  {% include event-result/table-filter.html %}
  {% include event-result/table-result.html %}
</div>