<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="author" content="">
  <meta name="keywords" content="raceyaya raceyaya results, race results">

  <meta property="og:image" content="http://results.raceyaya.com/raceyaya-logo-icon.png">
  <meta property="og:description" content="{{ page.event-location }}">
  <meta property="og:url" content="http://results.raceyaya.com/">
  <meta property="og:title" content="{{ page.event-title }}">
	
  <title>RaceYaya | {{ page.event-title }} </title>
  <link rel="shortcut icon" href="/raceyaya-logo-icon.png">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/runner-info.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149455338-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149455338-1');
</script>


</head>
<body>

{% include navbar.html %}  

<section class="runner-info">
  <div class="container">
    <div class="banner-container">
			<div class="d-sm-flex justify-content-center text-center text-sm-left">
				<div class="col-xs-12 {% if page.event-logo == null %} d-none {% endif %}">
						<img class="banner-logo" src="{{ page.event-logo }}"/>
				</div>
				<div class="just-content-start col-xs-12">
					<h4>{{ page.event-title }}</h4>
					<span class="">{{ page.event-location }}, </span>
					<span class="">{{ page.event-date }} </span> 
				</div>
			</div>     
		</div>
		
    <div class="runner-content">
			<div class="runner-details row">
				<div class="left-section col-6">
					<div class="content-container">
							<span class="content-title">Name</span>
							<span class="content-value">{{ page.first_name }}  {{ page.last_name }} {{page.name}}</span>
					</div>

					{% if page.team_name != null %}
					<div class="content-container">
							<span class="content-title">Team / Sponsor</span>
							<span class="content-value">{{ page.team_name }}</span>
					</div>
					{% endif %}
					
					<div class="content-container">
							<span class="content-title">Bib #</span>
							<span class="content-value">{{ page.bib }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender / Category</span>
						<span class="content-value">
							{% if page.gender == 'M' %}
							Male
							{% elsif page.gender == 'F' %}
							Female
							{% else %}
							{{ page.gender }}
							{% endif %}
						</span>
						<span class="content-value"> / {{ page.category_km }}/ {{ page.category }}</span>
					</div>

					{% if page.certificate != null %}
					<div class="content-container">
						<a class="btn btn-success" href="{{ page.certificate }}" target="_blank">Certificate</a>
					</div>
					{% endif %}
				</div>

				<div class="right-section col-6 ">
					{% if page.finish_time != null or page.race_time != null or page.finish != null %}
					<div class="content-container">
							<i class="material-icons">flag</i>
							<span class="content-title">Finish Time</span>
							<span class="content-value"> {{ page.race_time | replace: '-', ':' }}{{ page.finish_time | replace: '-', ':' }}{{ page.finish | replace: '-', ':' }}</span>
					</div>
					{% endif %}

					{% if page.finish-distance != null %}
					<div class="content-container">
							<i class="material-icons">flag</i>
							<span class="content-title">Finish Distance</span>
							<span class="content-value"> {{ page.finish-distance | replace: '-', ':' }}</span>
					</div>
					{% endif %}

					<div class="content-container">
							<span class="content-title"> Overall Rank</span>
							<span class='content-value'> {{ page.overall_rank }}</span>
					</div>

					<div class="content-container">
						<span class="content-title">Gender Rank</span>
						<span class='content-value'> {{ page.gender_rank }} {{ page.rank }}</span>
					</div>
				</div>
			</div>
		</div>

    <div class="runner-race-content table-responsive">
			<h6 class="banner-text">Race Info</h6>
			<table class="table table-bordered">
				<tbody>
					{% if page.start != null %}
					<tr>
						<th>Start</th>
						<td>{{ page.start | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

					{% for cpCount in page.checkpointdata %}
					{% assign cpLoop = forloop.index %}
					{% if cpCount.checkpoint != null %}
					<tr>
						{% for cpName in page.checkpointName %}
						{% if forloop.index == cpLoop %}
						<th>{{cpName.checkpoint-name}}</th>
						{% endif %}
						{% endfor %}		
						<td>{{ cpCount.checkpoint | replace: '-', ':'}}</td>
					</tr>
					{% endif %}
					{% endfor %}

					{% if page.finish != null or page.finish_time != null %}
					<tr>
						<th>Finish</th>
						<td>{{ page.finish | replace: '-', ':'}}{{ page.finish_time | replace: '-', ':'}}</td>
					</tr>
					{% endif %}

				</tbody>
			</table>
    </div>
  </div>
</section>
						
{% include_cached footer.html %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

{{ page.javascript }}

<script type="text/javascript">
function goBack() {
  window.history.back();
}
</script>
</body>
</html>