
<div class="container event-wrapper">
    <div class="filter-container">
        <div class="filters-button-group button-group visibile-md hidden-sm hidden-xs">
            <input type="text" placeholder="Search" class="inputSearch form-control" id="search-name">
        </div>

        <div class="filters">
            <select class="filters-select category-filter-container" value-group="category">
                <option value="*">Show All</option>
                {% for categoryFilter in site.data.eventButtonFilter[0].filter-list %}
                <option value=".{{ categoryFilter.filter | downcase }}">{{ categoryFilter.name }}</option>
                {% endfor %}
            </select>
            
    
           
            <select class="filters-select month-filter-container" value-group="month">
                <option value="*">Month</option>
                {% for categoryFilter in site.data.eventButtonFilter[1].filter-list %}
                <option value=".{{ categoryFilter.filter | downcase }}">{{ categoryFilter.filter }}</option>
                {% endfor %}
            </select>
          
    
       
            <select class="filters-select year-filter-container" value-group="year">
                <option value="*">Year</option>
                {% for categoryFilter in site.data.eventButtonFilter[2].filter-list %}
                <option value=".{{ categoryFilter.filter }}">{{ categoryFilter.filter }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="event-container">
        <div class="grid">
            {% assign sorted-event = site.data.eventCategories | sort: 'id' %}
            {% for event-list in sorted-event | reverse %}
            <div data-id="{{ event-list.id }}" class="event-item col-md-4 {{ event-list.category-filter }} {{ event-list.month | downcase }} {{ event-list.year }}">
                <a href="/events/{{ event-list.link }}" class="event-item-link event-height{{ event-list.fitRow }}" style="background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ),url('{{ event-list.banner-big }}');background-size: cover; background-position: center center;">
                    <div class="event-caption">
                        <span class="event-title d-block">{{ event-list.title }}</span>
                    
                        <span class="event-location d-block">{{ event-list.city }}, {{ event-list.country }}</span>
                        <span class="event-category d-block">{{ event-list.category }}</span>
                        <span class="event-date d-block">{{ event-list.month }} {{ event-list.year }}</span>

                        <span class="searchresult" style="visibility: hidden;">{{ event-list.city }} {{ event-list.country }} {{ event-list.category }}</span>
                        <span class="searchresult" style="visibility: hidden;">{{ event-list.city }} {{ event-list.category }}</span>
                        <span class="searchresult" style="visibility: hidden;">{{ event-list.country }} {{ event-list.category }}</span>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="no-result">
            <h2 id="result-text">Sorry, no event result found.</h2>
        </div>
</div>
</div>
